<h1>Gift Page</h1>

<form id="gift_form">
	<p id="sent_user">{{sent_user}}</p>
	<p>choose who you want to send gift to and enter the amount of money</p>
	<select id="rec_user">
		<option value="volvo">Volvo</option>
		<option value="saab">Saab</option>
		<option value="mercedes">Mercedes</option>
		<option value="audi">Audi</option>
	</select>
	<input id="money" type="text" ref="money" placeholder="Enter how much you would spend!"></input> 
	<input id="gift_submit" class="button" type="submit" value="Random Gift!"></input>
</form> 

<div id="random_gift" uid="{{newcheep.userid}}"> <!-- add rec and sent user info-->
</div>