{{> header}}
<div id="mainpage">
  <div class="auth">
    <h1> Log in to giftr </h1>
    <a href="/auth/facebook" class="btn btn-lg btn-primary btn-raised">Log in!</a>
    <div><a href="/auth/facebook">Sign in with Facebook</a></div>
  </div>
</div>
